/*█╗   ███╗ █████╗ ██╗███╗  ██╗     ██████╗  █████╗ ███╗   ███╗███████╗
████╗ ████║██╔══██╗██║████╗ ██║    ██╔════╝ ██╔══██╗████╗ ████║██╔════╝
██╔████╔██║███████║██║██╔██╗██║    ██║  ██╗ ███████║██╔████╔██║█████╗  
██║╚██╔╝██║██╔══██║██║██║╚████║    ██║  ╚██╗██╔══██║██║╚██╔╝██║██╔══╝  
██║ ╚═╝ ██║██║  ██║██║██║ ╚███║    ╚██████╔╝██║  ██║██║ ╚═╝ ██║███████╗
╚═╝     ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚══╝     ╚═════╝ ╚═╝  ╚═╝╚═╝     ╚═╝╚═════*/

.tile {
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-background-radius: 0px;
    -fx-alignment: center;
    -fx-font-size: 20px;
}

.oddTiles {
    -fx-background-color: #502e11;
}

.evenTiles {
    -fx-background-color: #a5784d;
}

.boardTiles {
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-background-color: rgba(0, 0, 0, 0);
}

.boardTiles:hover {
    -fx-background-color: rgba(0, 0, 0, 0.18);
}

.boardTilesPossibleMoves {
    -fx-background-color: rgba(197, 45, 45, 0.18);
}

/*█████╗██╗  ██╗███╗   ███╗██╗         ███████╗██╗██╗     ███████╗ ██████╗
██╔════╝╚██╗██╔╝████╗ ████║██║         ██╔════╝██║██║     ██╔════╝██╔════╝
█████╗   ╚███╔╝ ██╔████╔██║██║         █████╗  ██║██║     █████╗  ╚█████╗ 
██╔══╝   ██╔██╗ ██║╚██╔╝██║██║         ██╔══╝  ██║██║     ██╔══╝   ╚═══██╗
██║     ██╔╝╚██╗██║ ╚═╝ ██║███████╗    ██║     ██║███████╗███████╗██████╔╝
╚═╝     ╚═╝  ╚═╝╚═╝     ╚═╝╚══════╝    ╚═╝     ╚═╝╚══════╝╚══════╝╚════*/

.buttonStyle {
    -fx-border-radius: 5px;
}

.buttonStyle:hover {
    -fx-padding: 30px;
}