.tile {
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-background-radius: 0px;
}

.oddTiles {
    -fx-background-color: #502e11;
}

.evenTiles {
    -fx-background-color: #a5784d;
}

.boardTiles {
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-background-color: rgba(0, 0, 0, 0);
}

.boardTiles:hover {
    -fx-background-color: rgba(0, 0, 0, 0.18);
}

.evenTiles:hover {
    -fx-background-color: #7e5d3c;
}