/*█╗   ███╗ █████╗ ██╗███╗  ██╗     ██████╗  █████╗ ███╗   ███╗███████╗
████╗ ████║██╔══██╗██║████╗ ██║    ██╔════╝ ██╔══██╗████╗ ████║██╔════╝
██╔████╔██║███████║██║██╔██╗██║    ██║  ██╗ ███████║██╔████╔██║█████╗  
██║╚██╔╝██║██╔══██║██║██║╚████║    ██║  ╚██╗██╔══██║██║╚██╔╝██║██╔══╝  
██║ ╚═╝ ██║██║  ██║██║██║ ╚███║    ╚██████╔╝██║  ██║██║ ╚═╝ ██║███████╗
╚═╝     ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚══╝     ╚═════╝ ╚═╝  ╚═╝╚═╝     ╚═╝╚═════*/

.tile {
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-background-radius: 0px;
    -fx-alignment: center;
    -fx-font-size: 20px;
}

.oddTiles {
    -fx-background-color: #3e3d3d;
}

.evenTiles {
    -fx-background-color: #716b6b;
}

.boardTiles {
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-background-color: rgba(0, 0, 0, 0);
}

.boardTiles:hover {
    -fx-background-color: rgba(0, 0, 0, 0.18);
}

.boardTilesPossibleMoves {
    -fx-background-color: rgba(220, 11, 11, 0.18);
}

.boardTilesPossibleMoves:hover {
    -fx-background-color: rgba(220, 11, 11, 0.45);
}

/*█████╗██╗  ██╗███╗   ███╗██╗         ███████╗██╗██╗     ███████╗ ██████╗
██╔════╝╚██╗██╔╝████╗ ████║██║         ██╔════╝██║██║     ██╔════╝██╔════╝
█████╗   ╚███╔╝ ██╔████╔██║██║         █████╗  ██║██║     █████╗  ╚█████╗ 
██╔══╝   ██╔██╗ ██║╚██╔╝██║██║         ██╔══╝  ██║██║     ██╔══╝   ╚═══██╗
██║     ██╔╝╚██╗██║ ╚═╝ ██║███████╗    ██║     ██║███████╗███████╗██████╔╝
╚═╝     ╚═╝  ╚═╝╚═╝     ╚═╝╚══════╝    ╚═╝     ╚═╝╚══════╝╚══════╝╚════*/

.buttonStyle {
    -fx-border-radius: 5px;
}

/*.buttonStyle:hover {
    -fx-padding: 15px;
}*/

.boxingBackground {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 5px;
}

.mainGameBackground {
    -fx-background-image: url("images/Homescreen.png");
}