/*█╗   ███╗ █████╗ ██╗███╗  ██╗     ██████╗  █████╗ ███╗   ███╗███████╗
████╗ ████║██╔══██╗██║████╗ ██║    ██╔════╝ ██╔══██╗████╗ ████║██╔════╝
██╔████╔██║███████║██║██╔██╗██║    ██║  ██╗ ███████║██╔████╔██║█████╗  
██║╚██╔╝██║██╔══██║██║██║╚████║    ██║  ╚██╗██╔══██║██║╚██╔╝██║██╔══╝  
██║ ╚═╝ ██║██║  ██║██║██║ ╚███║    ╚██████╔╝██║  ██║██║ ╚═╝ ██║███████╗
╚═╝     ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚══╝     ╚═════╝ ╚═╝  ╚═╝╚═╝     ╚═╝╚═════*/

.tile {
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-background-radius: 0px;
    -fx-alignment: center;
    -fx-font-size: 20px;
}

.boardNum {
    -fx-min-width: 30px;
    -fx-min-height: 60px;
    -fx-background-radius: 0px;
    -fx-alignment: center;
    -fx-font-size: 15px;
    -fx-padding:10px;
}

.boardLetters {
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-background-radius: 0px;
    -fx-alignment: center;
    -fx-font-size: 15px;
    -fx-padding:10px;
}

.oddTiles {
    -fx-background-color: #3e3d3d;
}

.evenTiles {
    -fx-background-color: #716b6b;
}

.boardTiles {
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-background-color: rgba(0, 0, 0, 0);
}

.boardTiles:hover {
    -fx-background-color: rgba(0, 0, 0, 0.18);
}

.boardTilesPossibleMoves {
    -fx-background-color: rgba(220, 11, 11, 0.18);
}

.boardTilesPossibleMoves:hover {
    -fx-background-color: rgba(220, 11, 11, 0.45);
}

.progress-bar {
    -fx-accent: #ffffff;
}

.progress-bar > .track {
    -fx-background-color: #000000;
}

.progress-bar > .bar {
    -fx-background-color: derive(-fx-accent, 50%);
    -fx-padding: 0; /* Removes padding */
    -fx-background-insets: 0; /* Removes margin/inset */
    -fx-border-radius: 0;
}

.progress-bar > .bar {
    -fx-transition: width 1s ease-in-out;
}

.isChecked {
    -fx-text-alignment: center;
    -fx-text-fill: #b1b1b1;
    -fx-background-color: rgba(28, 81, 135, 0.75);
}

.chessBackground {
    -fx-background-image: url("images/ChessBackground.png");
    -fx-background-size: cover;
    -fx-background-position: center center; /* Centers the image */
}

/*█████╗██╗  ██╗███╗   ███╗██╗         ███████╗██╗██╗     ███████╗ ██████╗
██╔════╝╚██╗██╔╝████╗ ████║██║         ██╔════╝██║██║     ██╔════╝██╔════╝
█████╗   ╚███╔╝ ██╔████╔██║██║         █████╗  ██║██║     █████╗  ╚█████╗ 
██╔══╝   ██╔██╗ ██║╚██╔╝██║██║         ██╔══╝  ██║██║     ██╔══╝   ╚═══██╗
██║     ██╔╝╚██╗██║ ╚═╝ ██║███████╗    ██║     ██║███████╗███████╗██████╔╝
╚═╝     ╚═╝  ╚═╝╚═╝     ╚═╝╚══════╝    ╚═╝     ╚═╝╚══════╝╚══════╝╚════*/

.buttonStyle {
    -fx-border-radius: 5px;
}

/*.buttonStyle:hover {
    -fx-padding: 15px;
}*/

.boxingBackground {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 5px;
}

.mainGameBackground {
    -fx-background-image: url("images/Homescreen.png");
    -fx-background-size: cover;
}
